@use "variaveis";

.hero{
    padding: 5.6vw; //viewport width
    min-height: 100vh; //viewport height
    background-image: url(../images/hero_image_3.png);
    text-align: center;
    background-size: cover;

    &__content{
        max-width: 720px;

            &__branding{
                margin: 72px auto 16px;
            }

            .text--big{
                margin-bottom: 16px;
            }

            p{
                margin-bottom: 8px;
                color: variaveis.$corTextoHover;
                font-weight: bold;
            }

            &__playing{

                &__play{
                    width: 200px;
                    margin: 0 auto;
                } 
            }
        }
    }

