.overview{
    padding: 5.6vw; //viewport width
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

        @media (max-width: 768px){
        display: block;
    }

    
    img{
        max-width: 100%;
        border-radius: 4px;
    }

    &__text_container{

        @media (max-width: 768px){
            padding: 16px;

            h2{
                text-align: center;
            }
        }

        padding: 0 2vw;  

        h2{
            margin-bottom: 24px;

            
        }

        p{
            text-align: justify;
        }

    }

}



